## Module 1 (Machine Learning)

In [1]:
import numpy as np
import pandas as pd

In [23]:
df = pd.DataFrame({'Salary' : [45, 48, 50, 52, 55, 58, 60, 62, 65, 68, 70, 72, 75, 78, 80, 85, 90, 95, 150, 500]})
df

    Salary
0       45
1       48
2       50
3       52
4       55
5       58
6       60
7       62
8       65
9       68
10      70
11      72
12      75
13      78
14      80
15      85
16      90
17      95
18     150
19     500

In [24]:
mn = df.min()
mx = df.max()
rng = mx - mn
print(rng)

Salary    455
dtype: int64

In [30]:
df_mean = df['Salary'].mean()
df_mean

np.float64(92.9)

In [31]:

sq_df = (df['Salary'] - df_mean)**2
sum = sq_df.sum()
var = sum/(len(df)-1)
print(var)
df.var()

9718.410526315793

Salary    9718.410526
dtype: float64

In [ ]:
np.var(df['Salary'], ddof=1)

np.float64(9718.410526315793)

In [32]:
std = np.sqrt(var)
print(std)
df.std(),np.std(df['Salary'],ddof=1)

98.58199899736154

(Salary    98.581999
 dtype: float64,
 np.float64(98.58199899736154))

In [45]:
q2 = df.quantile(0.50)
print(q2)

Salary    69.0
Name: 0.5, dtype: float64

In [37]:
q3 = df.quantile(0.75)
print(q3)

Salary    81.25
Name: 0.75, dtype: float64

In [47]:
q1 = np.percentile(df,25)
q2 = np.percentile(df,50)
q3 = np.percentile(df,75)
q1,q2,q3

(np.float64(57.25), np.float64(69.0), np.float64(81.25))

In [48]:
IQR = q3 - q2
print(IQR)

12.25

In [50]:
lower_fence = q1 - 1.5*IQR
upper_fence = q3 + 1.5*IQR
lower_fence,upper_fence

(np.float64(38.875), np.float64(99.625))

In [52]:
outliers = df[((df['Salary']<lower_fence)|(df['Salary']>upper_fence))]
outliers

    Salary
18     150
19     500