In [ ]:
def find_int(lst):
  l=[]
  for i in lst:
    if type(i) == list:
      for j in i:
        if type(j) is int:
          l.append(j)
    else:
      if type(i) is int:
        l.append(i)
  return l
lst = [1, 2, 3, 4, "Emdadul", "Tarque", [1, 2, 3, 4, 5]]
find_int(lst)

[1, 2, 3, 4, 1, 2, 3, 4, 5]

In [ ]:
def test(*args,a):
  return args,a
test(2,3,4,5,a=7)

((2, 3, 4, 5), 7)

In [ ]:
def test5(c,d,a = 10, b = 20):
    return a,b,c,d
test5(2,3)

(10, 20, 2, 3)

In [ ]:
def test6(**kwargs):
    return kwargs
test6(a = 10, b = 20, c = [1, 2, 3, 4], d = ("emdadul", "Tareque"))

{'a': 10, 'b': 20, 'c': [1, 2, 3, 4], 'd': ('emdadul', 'Tareque')}

In [ ]:
def test7(ab=34,bc=10,cd=20,*a,**kwargs):
    return ab,bc,cd
test7(34,10,20, [1, 2, 3, 4],("emdadul", "Tareque"),a = 10, b = 20, c = [1, 2, 3, 4])

(34, 10, 20)

In [ ]:
def print_arguments(a, b, c):
    print(f"a: {a}, b: {b}, c: {c}")

my_dict = {"a": 1, "b": 2, "c": 3}
print_arguments(**my_dict)

a: 1, b: 2, c: 3

In [ ]:
def print_arguments(*args,**kwargs):
    print(f"kwargs:{kwargs}")
    print(f"args:{args}")
    print()


my_dict = {"a": 1, "b": 2, "c": 3}
print_arguments(**my_dict)

print_arguments({"a": 1, "b": 2, "c": 3})

kwargs:{'a': 1, 'b': 2, 'c': 3}
args:()

kwargs:{}
args:({'a': 1, 'b': 2, 'c': 3},)

In [ ]:
number = lambda *args : print(args)
number(my_dict,90)

map(number(),)

({'a': 1, 'b': 2, 'c': 3}, 90)

In [ ]:
lst = [10, 20, 4, 12, 93, 332]
print(list(filter(lambda x : x % 2 == 0, lst)))
list(map(lambda x : x % 2 == 0, lst))

[10, 20, 4, 12, 332]

[True, True, True, True, False, True]

In [ ]:
from functools import reduce
a = reduce(lambda x, y : x + y, lst)
print(a)
a = reduce(lambda x,y : x and y % 2 == 0, lst,True)
print(a)

471
False

In [ ]:
all(x % 2 == 0 for x in lst)

False

01. Write a program to make a list of squares of number from 1 - 10 and sum the elements in the list generated

In [ ]:
reduce(lambda x,y:x+y,list(map(lambda x:x**2,range(1,11))))

385

02. Write a program to create a list of numbers in the range 1 to 10. Then create all the even numbers from the list and print the final list

In [ ]:
list(filter(lambda x: x %2 == 0,list(range(1,11))))

[2, 4, 6, 8, 10]

03. Write a program that convers strings of all uppercase charaters into strings of all lowercase characters using map function

In [ ]:
l = list(map(lambda s: s.upper(),["jahirul","islam","razon"]))
print(l)
list(map(lambda s: s.lower(),l))

['JAHIRUL', 'ISLAM', 'RAZON']

['jahirul', 'islam', 'razon']

04. Write a program that has a list of both positive and negative numbers. Create another list using filtre() that has only positive values.

In [ ]:
lst = [-1,-2,-6,-9,5,8,7,4,6,9,-8,-5,12,34]

list(filter(lambda x:x>0,lst))

[5, 8, 7, 4, 6, 9, 12, 34]