**Email address : jahirulrazon0@gmail.com**

In [1]:
# You must run this code and use that data set for all the questions
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")

Sample Data Created and Saved as employees.csv

## Ans to the Q1

In [2]:
age_array = np.array(ages)
salary_array = np.array(salaries)

print("age_array:",age_array)
print("salary_array:",salary_array)

print()

print(f"dtype of age_array: {age_array.dtype}")
print(f"ndim of age_array: {age_array.ndim}")
print(f"shape of age_array: {age_array.shape}")
print(f"size of age_array: {age_array.size}")

print()

print(f"dtype of salary_array: {salary_array.dtype}")
print(f"ndim of salary_array: {salary_array.ndim}")
print(f"shape of salary_array: {salary_array.shape}")
print(f"size of salary_array: {salary_array.size}")

age_array: [56 46 32 25 38 56 36 40 28 28]
salary_array: [77191 74131 46023 71090 31685 30769 89735 86101 32433 35311]

dtype of age_array: int64
ndim of age_array: 1
shape of age_array: (10,)
size of age_array: 10

dtype of salary_array: int64
ndim of salary_array: 1
shape of salary_array: (10,)
size of salary_array: 10

## Ans to the Q2

In [3]:
print("Highest salary value:",np.max(salary_array))
print("Lowest salary value:",np.min(salary_array))
print("Average salary:",np.average(salary_array))
print("Average age:",np.average(age_array))

Highest salary value: 89735
Lowest salary value: 30769
Average salary: 57446.9
Average age: 38.5

## Ans to the Q3

In [5]:
age_greater_30 = age_array[age_array>30]
print("Ages greater than 30:",age_greater_30)

older_than_30 = age_greater_30.size
print("No. of employees older than 30 yrs:",older_than_30)

Ages greater than 30: [56 46 32 38 56 36 40]
No. of employees older than 30 yrs: 7

## Ans to the Q4

In [6]:
new_employee_age = age_array + 5
print("New updated ages array:", new_employee_age)

New updated ages array: [61 51 37 30 43 61 41 45 33 33]

## Ans to the Q5

In [7]:
sum_of_salary = np.sum(salary_array)
print("Total salary expense:",sum_of_salary)

difference = np.max(salary_array) - np.min(salary_array)
print("Difference between the maximum and minimum salary:",difference)

Total salary expense: 574469
Difference between the maximum and minimum salary: 58966

## Ans to the Q6

In [8]:
employees = pd.read_csv("employees.csv")

print("First 5 rows:\n",employees.head(5))
print()

print("Basic info:")
employees.info()
print()
print("Summary statistics:")
employees.describe()

First 5 rows:
    id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR

Basic info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   age     10 non-null     int64
 2   salary  10 non-null     int64
 3   dept    10 non-null     object
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes

Summary statistics:

             id       age        salary
count  10.00000  10.00000     10.000000
mean    5.50000  38.50000  57446.900000
std     3.02765  11.16791  24357.262884
min     1.00000  25.00000  30769.000000
25%     3.25000  29.00000  33152.500000
50%     5.50000  37.00000  58556.500000
75%     7.75000  44.50000  76426.000000
max    10.00000  56.00000  89735.000000

## Ans to the Q7

In [9]:
print("id column:\n",employees['id'])
print("\nage column:\n",employees['age'])
print("\nsalary column:\n",employees['salary'])
print("\nlast 3 rows:\n",employees.tail(3))

id column:
 0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: id, dtype: int64

age column:
 0    56
1    46
2    32
3    25
4    38
5    56
6    36
7    40
8    28
9    28
Name: age, dtype: int64

salary column:
 0    77191
1    74131
2    46023
3    71090
4    31685
5    30769
6    89735
7    86101
8    32433
9    35311
Name: salary, dtype: int64

last 3 rows:
    id  age  salary   dept
7   8   40   86101     IT
8   9   28   32433  Sales
9  10   28   35311     HR

## Ans to the Q8

In [10]:
it_employees = employees.loc[(employees['dept'] == "IT")]
print("Employees works in IT department:\n",it_employees)

total_it_employees = it_employees.shape[0]
print("\nTotal number of IT employees:",total_it_employees)

Employees works in IT department:
    id  age  salary dept
1   2   46   74131   IT
3   4   25   71090   IT
7   8   40   86101   IT

Total number of IT employees: 3

## Ans to the Q9

In [11]:
sorted_salary = employees.sort_values('salary',ascending = False)

sorted_salary.loc[:,["id","dept","age"]].head(3)

   id     dept  age
6   7  Finance   36
7   8       IT   40
0   1       HR   56

## Ans to the Q10

In [13]:
employees.loc[(employees['salary'] > 80000),'salary'] = 80000

new_avg_salary = employees['salary'].mean()
print("New average salary of all employees:",new_avg_salary)

New average salary of all employees: 55863.3