# Module 2.5 (Practice Module)

## Module 1

### Part A

In [1]:
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame({'Marks': [50, 60, 65, 70, 75, 80, 85, 90]})
df

   Marks
0     50
1     60
2     65
3     70
4     75
5     80
6     85
7     90

In [8]:
mean = df['Marks'].mean()
print(mean)
median = df['Marks'].median()
print(median)
mode = df['Marks'].mode()
print(mode)

71.875
72.5
0    50
1    60
2    65
3    70
4    75
5    80
6    85
7    90
Name: Marks, dtype: int64

In [9]:
df.loc[(df['Marks']==90)] = 900
df

   Marks
0     50
1     60
2     65
3     70
4     75
5     80
6     85
7    900

In [10]:
df.mean()

Marks    173.125
dtype: float64

In [11]:
df2 = pd.DataFrame({'Temperatures (°C)': [29, 31, 33, 33, 32, 31, 30]})
df2

   Temperatures (°C)
0                 29
1                 31
2                 33
3                 33
4                 32
5                 31
6                 30

In [12]:
df2.var(),df2.std()

(Temperatures (°C)    2.238095
 dtype: float64,
 Temperatures (°C)    1.496026
 dtype: float64)

standard deviation is easy to interprete as it is in the same unit as the original data.

### Part B

In [13]:
df3 = pd.DataFrame({ 'Cat weights (kg)': [2.5, 3.0, 3.2, 3.3, 3.4, 3.5, 3.6, 3.9, 4.0, 4.5]})
df3

   Cat weights (kg)
0               2.5
1               3.0
2               3.2
3               3.3
4               3.4
5               3.5
6               3.6
7               3.9
8               4.0
9               4.5

In [14]:
q1 = np.percentile(df3, 25)
q2 = np.percentile(df3, 50)
q3 = np.percentile(df3, 75)

q1,q2,q3

(np.float64(3.225), np.float64(3.45), np.float64(3.825))

In [15]:
iqr = q3 - q1
iqr

np.float64(0.6000000000000001)

In [18]:
mean = 50 
std = 10 
x = 65
z_score = (x-mean)/std
print(z_score)

z2 = -2.5
x = (z2*std)+mean
print(x)

1.5
25.0

## Module 2

### Part A

In [ ]:
Pizza = 40
Burgers = 50
PizzaAndBurgers = 20

P_Pizza = Pizza/ 100
P_Burgers = Burgers/100
P_PizzaAndBurgers = PizzaAndBurgers/100
P_PizzaOrBurgers = P_PizzaAndBurgers/P_Burgers

print(P_Pizza,P_Burgers,P_PizzaAndBurgers,P_PizzaOrBurgers)

0.4 0.5 0.2 0.4

### Part B

In [26]:
total_mails = 1000

S = 100
F = 40
notS_hasF = 60

P_S = S/total_mails
P_F = (F+notS_hasF)/total_mails
P_FIS = F/S
P_SIF = (P_FIS*P_S) / P_F

print(P_SIF)

0.4000000000000001

For a spam filter, the result \(P(S|F)=0.4\) means that if an email contains the word "free", there is a 40% chance that it is spam.