In [50]:
import pandas as pd

def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    low_salary = 0
    avg_salary = 0
    high_salary = 0
    
    unique_account_no = len(accounts['account_id'].unique())
    total_account_no = accounts['account_id'].count()
    
    print(unique_account_no,total_account_no)
    if unique_account_no == total_account_no:
        for i in accounts.itertuples():
            if i[2]<20000:
                low_salary += 1
            if i[2]>=20000 and i[2]<=50000:
                avg_salary += 1
            if i[2]>50000:
                high_salary += 1
    else:
        return 0
            
    data = [("Low Salary",low_salary),("Average Salary",avg_salary),("High Salary",high_salary)]        
    output = pd.DataFrame(data, columns=["category","accounts_count"] )
    # output = pd.DataFrame({
    #     "category": ['Low Salary','Average Salary', 'High Salary'],
    #     'accounts_count' : [low_salary,avg_salary,high_salary]  
    # })
    # output = output.set_index('category')
    return output

In [52]:
accounts = pd.DataFrame(
    {'account_id' : [3,2,8,6],
    'income' : [108939,12747,87709,91796]}
)
print(accounts['account_id'].count())
count_salary_categories(accounts)

4
4 4

         category  accounts_count
0      Low Salary               1
1  Average Salary               0
2     High Salary               3