In [ ]:
import pandas as pd

def delete_duplicate_emails(person: pd.DataFrame) -> None:
    person.sort_values("id", inplace = True)
    person.drop_duplicates(subset='email', keep="first",inplace=True)

In [50]:
df = pd.DataFrame(
    {'id': [3,2,1],
    'email':['john@example.com','bob@example.com','john@example.com']}
)

delete_duplicate_emails(df)
df

   id             email
2   1  john@example.com
1   2   bob@example.com