# Module 3

### Problem 1

In [1]:
import numpy as np
import pandas as pd

In [26]:
df = pd.DataFrame({'Weight_kg' : [58, 62, 65, 66, 190], 'Height_cm' : [150, 160, 170, 175, 180]})
df

   Weight_kg  Height_cm
0         58        150
1         62        160
2         65        170
3         66        175
4        190        180

In [16]:
z_score = (df-df.mean())/df.std()

print(z_score)

   Weight_kg  Height_cm
0  -0.529890  -1.411773
1  -0.459706  -0.581318
2  -0.407068   0.249136
3  -0.389522   0.664364
4   1.786185   1.079591

In [15]:
min_max = (df-df.min())/(df.max()-df.min())

print(min_max)

   Weight_kg  Height_cm
0   0.000000   0.000000
1   0.030303   0.333333
2   0.053030   0.666667
3   0.060606   0.833333
4   1.000000   1.000000

In [19]:
robust_Scale = (df-df.median())/(df.quantile(0.75) - df.quantile(0.25))
print(robust_Scale)

   Weight_kg  Height_cm
0      -1.75  -1.333333
1      -0.75  -0.666667
2       0.00   0.000000
3       0.25   0.333333
4      31.25   0.666667

In [21]:
robust_Scale_weight = (df['Weight_kg']-df['Weight_kg'].median())/(df['Weight_kg'].quantile(0.75) - df['Weight_kg'].quantile(0.25))
print(robust_Scale_weight)

0    -1.75
1    -0.75
2     0.00
3     0.25
4    31.25
Name: Weight_kg, dtype: float64

In [29]:
least_fence = df['Weight_kg'].quantile(0.25)-1.5*(df['Weight_kg'].quantile(0.75)-df['Weight_kg'].quantile(0.25))
highest_fence = df['Weight_kg'].quantile(0.75)+1.5*(df['Weight_kg'].quantile(0.75)-df['Weight_kg'].quantile(0.25))
outlier_weight = df['Weight_kg'].loc[(df['Weight_kg']<least_fence)|(df['Weight_kg']>highest_fence)]
outlier_weight

4    190
Name: Weight_kg, dtype: int64

### Problem 2

In [33]:
import pandas as pd

data = {
    "Monthly_Income_BDT": [25000, 32000, 28000, 45000, 39000, 52000, 60000, 150000, 300000, 1200000],
    "Room_Temperature_C": [22.5, 24.1, 26.3, 25.0, 23.4, 27.8, 21.9, 29.5, 28.7, 24.6],
    "Transaction_Count_Last_7_Days": [0, 1, 0, 2, 0, 0, 3, 10, 0, 25]
}

df = pd.DataFrame(data)
print(df)

   Monthly_Income_BDT  Room_Temperature_C  Transaction_Count_Last_7_Days
0               25000                22.5                              0
1               32000                24.1                              1
2               28000                26.3                              0
3               45000                25.0                              2
4               39000                23.4                              0
5               52000                27.8                              0
6               60000                21.9                              3
7              150000                29.5                             10
8              300000                28.7                              0
9             1200000                24.6                             25

In [38]:
z_score = (df-df.mean())/df.std()
print(z_score.round(2))

min_max = (df-df.min())/(df.max()-df.min())
print(min_max.round(2))

robust_Scale = (df-df.median())/(df.quantile(0.75) - df.quantile(0.25))
print(robust_Scale.round(2))

   Monthly_Income_BDT  Room_Temperature_C  Transaction_Count_Last_7_Days
0               -0.46               -1.10                          -0.51
1               -0.44               -0.49                          -0.39
2               -0.45                0.35                          -0.51
3               -0.41               -0.15                          -0.26
4               -0.42               -0.76                          -0.51
5               -0.39                0.93                          -0.51
6               -0.37               -1.33                          -0.14
7               -0.12                1.58                           0.74
8                0.29                1.27                          -0.51
9                2.77               -0.30                           2.62
   Monthly_Income_BDT  Room_Temperature_C  Transaction_Count_Last_7_Days
0                0.00                0.08                           0.00
1                0.01                0.29                           0.04
2                0.00                0.58                           0.00
3                0.02                0.41                           0.08
4                0.01                0.20                           0.00
5                0.02                0.78                           0.00
6                0.03                0.00                           0.12
7                0.11                1.00                           0.40
8                0.23                0.89                           0.00
9                1.00                0.36                           1.00
   Monthly_Income_BDT  Room_Temperature_C  Transaction_Count_Last_7_Days
0               -0.25               -0.60                          -0.18
1               -0.18               -0.18                           0.18
2               -0.22                0.39                          -0.18
3               -0.04                0.05                           0.55
4               -0.10               -0.36                          -0.18
5                0.04                0.78                          -0.18
6                0.12               -0.75                           0.91
7                1.08                1.22                           3.45
8                2.68                1.01                          -0.18
9               12.28               -0.05                           8.91

### Problem 3

In [44]:
import pandas as pd

data = {
    "ID": [1, 2, 3, 4],
    "City": ["Dhaka", "Chattogram", "Rajshahi", "Dhaka"],
    "Education_Level": ["High School", "Bachelor", "Master", "Bachelor"],
    "Satisfaction": ["Low", "Medium", "High", "Medium"]
}

df = pd.DataFrame(data)
print(df)

   ID        City Education_Level Satisfaction
0   1       Dhaka     High School          Low
1   2  Chattogram        Bachelor       Medium
2   3    Rajshahi          Master         High
3   4       Dhaka        Bachelor       Medium

In [45]:
city = pd.get_dummies(data['City'],prefix='',dtype=int)
city

   _Chattogram  _Dhaka  _Rajshahi
0            0       1          0
1            1       0          0
2            0       0          1
3            0       1          0

In [47]:
city_encoded = pd.concat([df,city],axis = 1)
city_encoded

   ID        City Education_Level Satisfaction  _Chattogram  _Dhaka  _Rajshahi
0   1       Dhaka     High School          Low            0       1          0
1   2  Chattogram        Bachelor       Medium            1       0          0
2   3    Rajshahi          Master         High            0       0          1
3   4       Dhaka        Bachelor       Medium            0       1          0

In [50]:
order = {'High School':0, 'Bachelor':1, 'Master':2}

educ= df['Education_Level'].map(order).astype(int)
educ

0    0
1    1
2    2
3    1
Name: Education_Level, dtype: int64

In [51]:
educ_encoded = pd.concat([df,educ],axis=1)
educ_encoded

   ID        City  Education_Level Satisfaction  Education_Level
0   1       Dhaka      High School          Low                0
1   2  Chattogram         Bachelor       Medium                1
2   3    Rajshahi           Master         High                2
3   4       Dhaka         Bachelor       Medium                1

### Problem 4

In [53]:
a = np.array([3, -1, 2]) 
b = np.array([4, 0, -2])

d = a[0]*b[0] + a[1]*b[1] + a[2]*b[2]

dot = np.dot(a,b)

d,dot

(np.int64(8), np.int64(8))

In [55]:
l1_a = np.linalg.norm(a,1)
l2_a = np.linalg.norm(a,2)

l1_a,l2_a

(np.float64(6.0), np.float64(3.7416573867739413))

### Problem 5


- The **Euclidean distance** increases **more sharply** than the Manhattan distance when one coordinate changes dramatically, because it squares the differences.
- After scaling the **y-coordinate by 10**, both distances increased, but **Euclidean** grew **disproportionately**.
- This demonstrates why **feature scaling or normalization** is essential in distance-based models (e.g., k-NN, clustering):
  - Features with large numeric ranges can **dominate** the distance measure.
  - Proper scaling ensures **balanced influence** from all features.